.snakemake
1000g
benchmarks
*.out
machine.file.*
.Rhistory
logs
submit_with_scheduling.sh
*.png
*.tsv
thaventhiran_imds
extra_scripts
*.RData
resources
results
workflow/scripts/gcta
tmp
cfdr.tsv.gz
chr_all.bim
li-cvid_on_1kGP3.tsv.gz
igad_seq_ids.txt
*.gz
tmp.R
